@page "/photography"
@using MystiickWeb.Shared.Models

@inherits BasePage


<PageTitle>Photography</PageTitle>
<h1>Photography</h1>
@if (Error != string.Empty)
{
    <div class="text-danger">@Error</div>
}
@if (Message != string.Empty)
{
    <div class="text-danger">@Message</div>
}
@if (IsLoading)
{
    <div class="spinner-border" role="status" id="loading">
        <span class="sr-only">&nbsp;</span>
    </div>
}

<div class="row">
    <div class="col-xl-2 gap-2 border-end">
        @if (categories != null)
        {
            @foreach (ImageCategory cat in categories)
            {
                <button class="btn btn-outline-primary mb-1 w-100" @onclick="@(x => LoadThumbnails(cat.Name))">
                    <span>@cat.Name</span>
                    <span>(@cat.Count)</span>
                </button>
            }
        }
    </div>

    <div class="col-xl-10">
        @if (images != null)
        {
            <div class="">
                <div class="row">

                    @foreach (ImageResult img in images)
                    {
                        <div class="col-xxl-2 col-xl-3 col-lg-6">
                            <ImageCard Image="img" />
                        </div>
                    }

                </div>
            </div>
        }

        @if (imagesLoading)
        {
            <div class="spinner-border" role="status" id="loading">
                <span class="sr-only">&nbsp;</span>
            </div>
        }
    </div>
</div>

@code {
    public ImageCategory[]? categories;
    public ImageResult[]? images;
    public bool imagesLoading = false;

    protected override async Task OnInitializedAsync()
    {
        categories = await GetFromApiAsync<ImageCategory[]>("api/image/categories");
    }

    protected async Task LoadThumbnails(string category)
    {
        images = await GetFromApiAsync<ImageResult[]>($"api/image/categories/{category}");
    }
}
