@page "/photography"
@using MystiickWeb.Shared.Models

@inherits BasePage

<PageTitle>Photography</PageTitle>
<h1>Photography</h1>
@if (Error != string.Empty)
{
    <div class="text-danger">@Error</div>
}
@if (Message != string.Empty)
{
    <div class="text-danger">@Message</div>
}
@if (IsLoading)
{
    <div class="spinner-border" role="status" id="loading">
        <span class="sr-only">&nbsp;</span>
    </div>
}

<div class="row">
    <div class="col-1 d-grid gap-2 border-end">
        @if (categories != null)
        {
            @foreach (ImageCategory cat in categories)
            {
                <button class="btn btn-outline-primary mb-1" @onclick="@(x => LoadThumbnails(cat.Name))">
                    <span>@cat.Name</span>
                    <span>(@cat.Count)</span>
                </button>
            }
        }
    </div>

    <div class="col-11">
        @if (images != null)
        {
            @foreach (string img in images)
            {
                <img src="/api/image/@img" />
                
                <br/>
            }
        }

        @if (imagesLoading)
        {
            <div class="spinner-border" role="status" id="loading">
                <span class="sr-only">&nbsp;</span>
            </div>
        }
    </div>
</div>

@code {
    public ImageCategory[]? categories;
    public string[]? images;
    public bool imagesLoading = false;

    protected override async Task OnInitializedAsync()
    {
        categories = await GetFromApiAsync<ImageCategory[]>("api/image/categories");
    }

    protected async Task LoadThumbnails(string category)
    {
        images = await GetFromApiAsync<string[]>($"api/image/categories/{category}");
    }
}
