@page "/minecraft"
@page "/minecraft/{Name}"
@inherits BasePage
@using MystiickWeb.Shared.Constants;
@using MystiickWeb.Shared.Models;

@inject MinecraftManager _minecraft;

<PageTitle>Minecraft Server Status</PageTitle>

<PageHeader @ref="Header" HeaderText="Minecraft" IsLoading="IsLoading" Error="@Error" Message="@Message" ValidationMessages="ValidationMessages" />

@if (model != null)
{
    <div>
        <h3>Server [@model.ServerName] Online</h3>
        <span>Online: @model.CountOnline / @model.CountMaximum</span>
        <div class="row">
            @foreach (var player in model.OnlinePlayers)
            {
                <MinecraftPlayerCard Player="@player" />
            }
        </div>

    </div>
}

@if (!IsLoading && model == null)
{
    <div>
        <h3>Server Offline</h3>
    </div>
}

@code {
    [Parameter] public string Name { get; set; } = string.Empty;

    private MinecraftServerData? model;
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Name))
            Name = "mock";
        model = await CallApi(_minecraft.GetMinecraftServerData(Name));
    }
}
