@page "/users"
@inherits BasePage
@using Microsoft.AspNetCore.Authorization
@using MystiickWeb.Shared.Constants

@attribute [Authorize(Roles = UserRoles.Administrator)]

@inject UserManager _userManager;

<AuthorizeView>
    <Authorized>
        <h3>Users</h3>

        <ExpandableCard Header="View User">
            <div>
                <label class="form-label" for="role-username">Username</label>
                <input class="form-control" id="role-username" type="text" @bind="lookupUsername" />
            </div>

            <div class="pt-3 text-end p-0">
                <button class="btn btn-primary" @onclick="LookupUser">Lookup</button>
            </div>

            @if (lookedUpUser != null)
            {
                <hr />
                <h4>@lookedUpUser.Username</h4>
                <hr />

                <h5>Claims:</h5>
                <dl class="row">
                    @foreach(var claim in lookedUpUser.Claims)
                    {
                        <dt class="col-sm-1">Value</dt>
                        <dd class="col-sm-5">@claim.ClaimValue</dd>

                        <dt class="col-sm-1">Type</dt>
                        <dd class="col-sm-5">@claim.ClaimType</dd>
                    }
                </dl>

                <hr />
                <dl class="row">
                    <dt class="col-sm-3">Account Locked</dt>
                    <dd class="col-sm-9">@lookedUpUser.AccountLocked</dd>

                    <dt class="col-sm-3">Failed Login Attempts</dt>
                    <dd class="col-sm-9">@lookedUpUser.FailedAttempts</dd>

                    <dt class="col-sm-3">Lockout Ends</dt>
                    <dd class="col-sm-9">@lookedUpUser.LockoutEndDate</dd>
                </dl>

            }
        </ExpandableCard>

        <ExpandableCard Header="Add User Role">
            <div>
                <label class="form-label" for="role-username">Username</label>
                <input class="form-control" id="role-username" type="text" @bind="roleUsername" />
            </div>
            <div>
                <label class="form-label" for="role-value">Role</label>
                <input class="form-control" id="role-value" type="text" @bind="roleValue" />
            </div>

            <div class="pt-3 text-end p-0">
                <button class="btn btn-primary" @onclick="AddRole">Add Role</button>
            </div>
        </ExpandableCard>
    </Authorized>
</AuthorizeView>

@code {
    public string roleUsername = "";
    public string roleValue = "";

    private async Task AddRole()
    {
        await CallApi(_userManager.AddRoleToUser(roleUsername, roleValue));
    }

    private string lookupUsername = "";
    private MystiickWeb.Shared.Models.User.User? lookedUpUser = null;

    private async Task LookupUser()
    {
        lookedUpUser = (await _userManager.LookupUser(lookupUsername)).Value;
        
    }
}
