@page "/photography"
@inherits BasePage

@using MystiickWeb.Shared.Models;

<PageTitle>Photography</PageTitle>
<h1 class="inline-block">Photography</h1>

@if (Error != string.Empty)
{
    <div class="text-danger">@Error</div>
}
@if (Message != string.Empty)
{
    <div class="text-danger">@Message</div>
}

<LoadingSpinner IsLoading="IsLoading" />

<div class="border-bottom">
    <p>A collection of posts showcasing some of my favorite pictures I've taken. If you want to see all of the pictures I've uploaded you can <a href="/photogrid">View All</a> here.</p>
</div>

@if (Posts != null)
{
    @foreach (var post in Posts)
    {
        <article class="p-2 border-bottom">
            <h3>@post.Title</h3>
            <h5>@post.CreatedDate.ToShortDateString()</h5>

            @foreach (string paragraph in post.Text)
            {
                <p>@paragraph</p>
            }

            <div class="row">                
                @foreach (ImageResult attachment in post.Attachments)
                {
                    <div class="col-xxl-2 col-lg-4 col-md-6">
                        <ImageCard Image="attachment" />
                    </div>
                }
            </div>
        </article>
    }
}
@code {
    private ImagePost[]? Posts;

    protected override async Task OnInitializedAsync()
    {
        Posts = await GetFromApiAsync<ImagePost[]>("api/post/photography");
    }
}
