@using MystiickWeb.Shared.Models.Posts;
@using Constants = MystiickWeb.Shared.Constants;

@if (Post != null)
{
    <div class="card container mb-2">
        <span class="badge bg-secondary">@Post.PostType</span>
        <p class="post-title"><a href="@BuildLink()">@Post.Title</a></p>
        <p class="post-date">@Post.CreatedDate.ToShortDateString()</p>
        <p class="post-preview">@PeekText(Post.Text)...</p>
    </div>
}

@code {

    [Parameter] public IBasePost? Post { get; set; }

    protected MarkupString PeekText(string text)
    {
        string[] abc = text.Split('.').SelectMany(x => x.Split('!').SelectMany(y => y.Split('?'))).ToArray();
        return (MarkupString)string.Join(". ", abc.Take(2));
    }

    protected string BuildLink()
    {
        return Post?.PostType.ToLower() switch
        {
            Constants.PostType.Photography => $"/posts/photography/{Post.ID}",
            Constants.PostType.Programming => $"/posts/programming/{Post.ID}",
            _ => "/404"
        };
    }

}
